// ------------------HEADER------------------
.header {
  background-color: $color-bg-site;
  padding-top: 70px;
}

.header__wrapper {
  @include flex-style(center, space-between);
}

.logo-link {
  display: inline-block;
}

.logo-link__image {
  display: block;
  width: 176px;
  height: 52px;
}

//-----Responsive-----

@include breakpoint-down(1000px) {
  .logo-link__image {
    width: 150px;
    height: 42px;
  }

  .header {
    padding-top: 56px;
  }
}

@include breakpoint-down(800px) {
  .logo-link__image {
    width: 100px;
    height: 32px;
  }

  .header {
    padding-top: 42px;
  }
}

@include breakpoint-down(500px) {
  .logo-link__image {
    width: 100px;
    height: 32px;
  }

  .header {
    padding-top: 24px;
  }
}

@include breakpoint-down(400px) {
  .logo-link__image {
    width: 80px;
    height: 24px;
  }
}