.main {
  background-color: $color-bg-site;
  background-image: url("../../images/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% + 0px) 652px;
}